@charset "utf-8";
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select,figure,figcaption{margin:0;padding:0} 
a{color:#2d374b;text-decoration:none} 
ul,li{list-style: none;}
a:hover{color:#cd0200;text-decoration:underline} 
em{font-style:normal}
img{border:0;vertical-align:middle} 
table{border-collapse:collapse;border-spacing:0} 
p{word-wrap:break-word}
body{background-color: #f5f5f6;color: #333;}
header{
	width: 100%;
	height: 101px;
	min-width: 1200px;
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: transparent;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    transition: all .6s;
    color: #fff;
}
header:hover{background-color: rgba(55,61,65,1);border-bottom: none;}
.head_top{
	width: 100%;
	height: 50px;
	overflow: auto;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
.list{
	width: 50px;
	height: 50px;
	border-right: 1px solid rgba(255,255,255,0.2);
	float: left;
}
.lb{
	width: 18px;
	height: 14px;
	padding-top: 18px;
	margin-left: 16px;
}
._input{
	width: 160px;
	height: 48px;
	border: 1px solid #373d40;
	padding: 0 22px 0 16px;
	float: right;
	background: hsla(0,0%,100%,.12);
	position: relative;
	transition: all .4s; 
}
._input:hover{height: 48px;width: 220px;border: 1px solid #00c1de;cursor: pointer;}
._input input{
	width: 132px;
	height: 48px;
	margin: 0 0 0 10px;
	font-size: 16px;
	color: #fff;
	background-color: transparent;
	border: none;
	outline: none;
}
._input img{
	width: 22px;
	height: 22px;
	position: absolute;
	top: 13px;
	right: 17px;
}
.logo{
	width: 80px;
	height: 18px;
	margin: 16px 0 0 14px;
	position: relative;
	float: left;
}
.logo img{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.alist{
	float: right;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    position: relative;
    padding: 0 12px;
    cursor: pointer;
}
.alist img{
	width: 14px;
	height: 14px;
	display: inline-block;
	margin:-3px 0 0 8px;
}
header li{
	display: inline-block;
	height: 50px;
	line-height: 50px;
	font-size: 14px;
	padding: 0 12px;
}
.ul_a{float: right;}
.ul_b{float: left;margin-left: 10px;}
.zhuce{
	float: right;
    height: 50px;
    line-height: 50px;
    background: #00c1de;
    padding: 0 32px;
    font-size: 14px;
    color: #fff;
}
header li a{color: #fff;}
header li a:hover{color: #00c1de;text-decoration: none;}
.zhuce:hover{background-color: #28d0e9;color: #fff;text-decoration: none;}
.block_a{
	min-width: 1200px;
	width: 100%;
	height: 640px;
	overflow: hidden;
	position: relative;
}
.block_a img{
	width: 1920px;
}
.text_a{
	width: 1180px;
	color: #fff;
	text-align: left;
    font-size: 40px;
    font-weight: 400;
    position: absolute;
    top: 180px;  
    left: 50%;
    margin-left: -590px;
}
.text_b{
	width: 1180px;
	color: #fff;
	text-align: left;
    font-size: 20px;
    max-width: 700px;
    line-height: 36px;
    position: absolute;
    top: 250px;
    left: 50%;
    margin-left: -590px;
}
.text_c{
	color: #fff;
	display: block;
	line-height: 20px;
    width: auto;
    font-size: 20px!important;
    padding-bottom: 6px;
    border-bottom: 3px solid #00c1de;
    position: absolute;
    top: 318px;
    left: 50%;
    margin-left: -590px;
}
.text_c:hover{color: #00c1de;text-decoration: none;}
.block_aa{
	width: 100%;
	height: 136px;
	background: #2d3035;
    background-color: hsla(0,0%,100%,.1);
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
}
.block_aa a{
	display: inline-block;
	color: #fff;
	width: 187px;
	height: 82px;
	padding: 30px 26px 24px;
	border-right: 1px solid #727577;
	border-color: hsla(0,0%,100%,.06);
	margin-left: -1px;
}
.block_aa a:hover{background-color: hsla(0,0%,100%,.06);text-decoration: none;border-color: transparent}
.block_aa a h2{
	color: #fff;
    font-weight: bolder;
    height: 18px;
    font-size: 16px;
    margin-bottom: 8px;
}
.block_aa a p{
	color: #fff;
    font-size: 14px;
    line-height: 24px;
    opacity: .6;
}
.box_a{
	width: 100%;
	height: 214px;
	padding: 56px 0;
	display: flex;
	justify-content: center;
	background-color: #fff;
}
.box_a div{
	width: 295px;
	height: 214px;
}
.box_a div img{
	display: block;
	width: 60px;
	height: 60px;
	margin: 0 auto 22px;
}
.box_a div p:nth-child(2){
    line-height: 22px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    color: #373D41;
    overflow: hidden;
    margin-bottom: 14px;
}
.box_a div p:nth-child(3){
	width: 70%;
    margin: 0 auto;
    text-align: center;
    font-size: 12px;
    color: #73777A;
    line-height: 24px;
    overflow: hidden;
}
.box_b{
	width: 1200px;
	overflow: auto;
	margin: 0 auto;
	padding: 60px 0 50px 0;
	box-sizing: inherit;
}
.box_ba{
	margin: 29px auto 30px;
	height: 25px;
    padding-top: 10px;
    overflow: hidden;
    width: 1180px;
    text-align: center;
    font-size: 0;
    border-bottom: 1px solid #ebecec;
}
.box_ba p{
    line-height: 16px;
    display: inline-block;
    padding: 0 16px;
    font-size: 14px;
    color: #373D41;
    border-right: 1px solid #EBECEC;
    cursor: pointer;
}
.box_ba p:hover{color: #00a2ca!important;}
.box_bb{
	width: 25%;
	box-sizing: border-box;
	float: left;
    padding: 0 10px;
    display: none;
}
.box_bb a{
	display: block;
	height: 96px;
    overflow: hidden;
    background: #FFFFFF;
    border: 1px solid #EBECEC;
    margin-bottom: 10px;
    position: relative;
}
.box_bb a:hover{text-decoration: none;border: 1px solid #00c1de;}
.box_bb a p:nth-child(1){
	height: 17px;
    line-height: 17px;
    font-size: 16px;
    color: #373D41;
    overflow: hidden;
    margin:17px 0 8px 16px;
    font-weight: bold;
}
.box_bb a p:nth-child(2){
	height: 34px;
    line-height: 17px;
    font-size: 12px;
    color: #73777A;
    margin: 0 0 0 16px;
    overflow: hidden;
}
.font_a{
	width: 100%;
	height: 33px;
    line-height: 33px;
    text-align: center;
    font-size: 24px;
    color: #373D41;
    overflow: hidden;
}
.box_c{
	width: 100%;
	height: 190px;
	padding: 60px 0;
	background-image: url(../img/TB15dgVlxGYBuNjy0FnXXX5lpXa-2880-620.jpg);
	background-size: 100% 100%;
}
.box_ca{
	width: 1180px;
	height: 117px;
	margin: 40px auto 0;
	display: flex;
	justify-content: space-between;
}
.box_ca a{
	display: block;
	width: 558px;
	height: 115px;
	border: 1px solid #eeeeee;
	background-color: #fff;
	position: relative;
}
.box_ca a:hover{border: 1px solid #00c1de;}
.box_ca a img:nth-child(1){
	width: 47px;
	height: 47px;
	position: absolute;
	top: 8px;
	left: 8px;
}
.box_ca a p:nth-child(2){
	height: 22px;
    line-height: 22px;
    font-size: 16px;
    color: #373D41;
    overflow: hidden;
    font-weight: bold;
    position: absolute;
    top: 36px;
    left: 70px;
}
.box_ca a p:nth-child(3){
	font-size: 12px;
    color: #373D41;
    line-height: 17px;
    overflow: hidden;
    position: absolute;
    top: 66px;
    left: 70px;
}
.box_ca a img:nth-child(4){
	width: 60px;
	height: 60px;
	position: absolute;
	top: 28px;
	right: 50px;
}
.box_d{
	width: 1200px;
	margin: 0 auto;
	padding: 60px 0;
	overflow: hidden;
}
.font_c{
	line-height: 17px;
    text-align: center;
    font-size: 12px;
    color: #373D41;
    margin:20px auto 40px;
}
.box_da{
	width: 1180px;
	height: 39px;
	margin: 0 10px 40px;
	border-bottom: 1px solid #D7D8D9;
}
.box_da div{
	width: 102px;
	height: 38px;
	border: 1px solid #d7d8d9;
	float: left;
	text-align: center;
	line-height: 38px;
	color: #373D41;
	font-size: 14px;
}
.box_da div:hover{cursor: pointer;}
.box_db{
	width: 280px;
	height: 323px;
	margin: 0 10px 42px;
	float: left;
	box-shadow: 0 2px 4px 0 rgba(226, 226, 226, 0.5);
}
.box_dbtop{
	width: 100%;
	height: 42px;
	background-color: #373D41;
}
.box_dbtop p:nth-child(1){
    line-height: 42px;
    float: left;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: bold;
    margin-left: 25px;	
}
.box_dbtop a{
	display: block;
    line-height: 42px;
    float: right;
    font-size: 12px;
    color: #00C1DE;
    margin-right: 25px;
}
.box_dc{
	width: 100%;
	height: 281px;
	background-color: #fff;
}
.explain{
	width: 100%;
	margin: 0 10px;
    line-height: 24px;
    font-size: 12px;
    color: #73777A;
    overflow: hidden;
}
.e2{display: none;}
.explain span{color: #310000;}
.box_d table{
	display: none;
	width: 1180px;
	height: 264px;
	margin: 0 10px 42px;
	    box-shadow: 0 2px 15px 0 rgba(0,0,0,.15)!important;
}
.box_d table th:nth-child(1){width: 859px;}
.box_d table th{
	height: 42px;
	border: 1px solid rgba(235, 236, 236, 0.3);
	text-align: left;
	background-color: #373d41;
	padding-left: 25px;
    height: 42px;
    line-height: 42px;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: bold;
}
.box_d table td{
	height: 74px;
	background-color: #fff;
	border-right: 1px solid #ebecec;
	border-bottom: 1px solid #ebecec;
	display: table-cell;
	padding-left: 25px;
    vertical-align: middle;
    font-size: 14px;
    color: #19001D;
    line-height: 24px;
}
.font_d{
    line-height: 42px;
    font-size: 14px;
    color: #373D41;
    border-bottom: 1px solid #EBECEC;
    margin:0 22px 10px;
}
.font_e{
	height: 186px;
	min-width: 1200px;
	line-height: 21px;
    font-size: 12px;
    color: #73777A;
    overflow: hidden;
    margin: 0 22px;
}
.font_f{
	line-height: 44px;
    border-top: 1px solid #EBECEC;
    font-size: 14px;
    color: #73777A;
    overflow: hidden;
    font-weight: bold;
    margin: 0 22px;
}
.box_e{
	width: 100%;
	height: 190px;
	padding: 60px 0;
	background-color: #fff;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: space-between;
}
.box_ea{
	width: 560px;
	height: 117px;
	border-top: 2px solid #00c1de;
	margin: 0 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.box_ea a{
	display: block;
	width: 558px;
	height: 115px;
	box-shadow: 0 2px 15px 0 rgba(0,0,0,.15)!important;
	position: relative;
}
.box_ea a:hover{border: 1px solid #00C1DE;}
.box_ea a img{
	width: 64px;
	position: absolute;
	right: 43px;
}
.img_a{top: 18px;}
.img_b{top: 25px;}
.box_ea a p:nth-child(1){
    line-height: 22px;
    font-weight: bold;
    font-size: 16px;
    color: #373D41;
    overflow: hidden;
    position: absolute;
    top: 34px;
    left: 30px;
}
.box_ea a p:nth-child(2){
    font-size: 12px;
    color: #373D41;
    line-height: 17px;
    overflow: hidden;
    position: absolute;
    top: 63px;
	left: 30px;
}
.box_f{
	width: 100%;
	height: 213px;
	padding-top: 60px;
	background-image: url(../img/TB1kEjSlTtYBeNjy1XdXXXXyVXa-2880-546.jpg);
	background-size: 100% 100%;
}
.box_f p:nth-child(2) a{color: #00c3e3;}
.box_f p:nth-child(2) a:hover{color: #00c3e3;}
.font_b{
    line-height: 33px;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    color: #373D41;
    overflow: hidden;
    margin-bottom: 20px;
}
.box_f p:nth-child(2){
	line-height: 20px;
    text-align: center;
    font-size: 14px;
    color: #19001D;
    overflow: hidden;
    margin-bottom: 20px;
}
._button{
	width: 160px;
	height: 40px;
	background-color: #00c1de;
	display: block;
	margin: 0 auto;
	line-height: 40px;
	color: #fff;
	text-align: center;
	font-size: 16px;
	opacity: 0.8;
}
._button:hover{opacity: 1;text-decoration: none;color: #fff;}
footer{
      width: 100%;
      height: 688px;
      background: #373d41;
      min-width: 1200px;
}
.box{
    width: 1260px;
    margin: 0 auto;
   
    height: 686px;
}
.block{
    
    width: 100%;
    border-bottom: 1px solid #4b5054;
    display: flex;
    align-items: center;
}
.block:nth-child(1){
    height: 340px;
}
.block:nth-child(2){
    height: 110px;
   
}
.block:nth-child(3){
    border: none;
    display:block;
}
.ul1{
    line-height: 20px;
    color: #9b9ea0;
    margin-right:28px; 
    font-size: 12px;
}
.ul2{
     line-height: 20px;
     margin-right:60px; 
     color: #73777a;

}

.left{
    padding-left: 80px;
    width: 230px;
    height: 290px;
    border-right: 1px solid #4b5054;
    position: relative;
    
}
.left h3{
    font-size: 16px;
    color: #fff;
    line-height:30px;
    
}
.left h2{
    font-size: 16px;
    color: #fff;
 
}
.left h2 span{
    font-size: 18px;

}
.left li:hover{
      color: #00b7d3;
}
.ul2 li:hover{
      color: #00b7d3;
}
.text a:hover{
      color: #00b7d3;
}
.word a:hover{
      color: #00b7d3;
}
footer table{
    margin-left: 180px;
    margin-top: -45px;
    font-size: 12px;
}
footer th{
    height: 36px ;
    line-height: 30px;
    color: #fff;

}
footer td{
    width: 166px;
    text-align: center;
    height: 22px;
    line-height: 22px;
    color: #9b9ea0;
}
footer td:hover{
    color: #00b7d3;
}
.left ul{
    margin-top: 14px;
    font-size: 14px;
    line-height: 30px;
    color: #9b9ea0;
}
.kefu{
    position: absolute;
    left: 0;
    top:4px;
    height: 46px;

}
.right{
    position: relative;
}
.ma{
    position: absolute;
    right:36px;
    height: 80px;
    bottom: 10px;
}
.text{
    width: 600px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text a{
    font-size: 16px;
    color: #9b9ea0;
    text-decoration: none;
}
.word{
    
    width: 1150px;
    display: flex;
    font-size: 12px;
    
     justify-content: space-between;

}
.word a{
     color: #73777a;;
      text-decoration: none;

}
.block:nth-child(3) p:nth-child(3){
    color: #73777a;;
    margin-top: 40px;
}
.block:nth-child(3) p:nth-child(4){
    display: flex;
    justify-content: flex-start;
    font-size: 14px;
     color: #9b9ea0;
     margin-top:14px;

}
.block:nth-child(3) p:nth-child(4) img{
    height: 22px;
    width: 22px;
    
}
.block{
    font-size: 12px;
}
