@charset"UTF-8";
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0} 
body{font:12px"微软雅黑","Arial Narrow",HELVETICA;background:#fff;-webkit-text-size-adjust:100%;} 
a{color:#2d374b;text-decoration:none} 
a:hover{color:#cd0200;text-decoration:underline} 
em{font-style:normal} 
li{list-style:none} 
img{border:0;vertical-align:middle} 
table{border-collapse:collapse;border-spacing:0} 
p{word-wrap:break-word} 
header{
	width: 100%;
	height: 101px;
	min-width: 1200px;
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: transparent;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    transition: all .6s;
    color: #fff;
}
header:hover{background-color: rgba(55,61,65,1);border-bottom: none;}
.head_top{
	width: 100%;
	height: 50px;
	overflow: auto;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
.slist{
	width: 50px;
	height: 50px;
	border-right: 1px solid rgba(255,255,255,0.2);
	float: left;
}
.lb{
	width: 18px;
	height: 14px;
	padding-top: 18px;
	margin-left: 14px;
}
._input{
	width: 160px;
	height: 48px;
	border: 1px solid #373d40;
	padding: 0 22px 0 16px;
	float: right;
	background: hsla(0,0%,100%,.12);
	position: relative;
	transition: all .4s; 
}
._input:hover{height: 48px;width: 220px;border: 1px solid #00c1de;cursor: pointer;}
._input input{
	width: 132px;
	height: 48px;
	margin: 0 0 0 10px;
	font-size: 16px;
	color: #fff;
	background-color: transparent;
	border: none;
	outline: none;
}
._input img{
	width: 22px;
	height: 22px;
	position: absolute;
	top: 13px;
	right: 17px;
}
.logoa{
	width: 80px;
	height: 18px;
	margin: 16px 0 0 14px;
	position: relative;
	float: left;
}
.logoa img{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.alist{
	float: right;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    position: relative;
    padding: 0 12px;
    cursor: pointer;
}
.alist img{
	width: 14px;
	height: 14px;
	display: inline-block;
	margin:-3px 0 0 8px;
}
header li{
	display: inline-block;
	height: 50px;
	line-height: 50px;
	font-size: 14px;
	padding: 0 12px;
}
.ul_a{float: right;}
.ul_b{float: left;margin-left: 10px;}
.zhuce{
	float: right;
    height: 50px;
    line-height: 50px;
    background: #00c1de;
    padding: 0 32px;
    font-size: 14px;
    color: #fff;
}
header li a{color: #fff;}
header li a:hover{color: #00c1de;text-decoration: none;}
.zhuce:hover{background-color: #28d0e9;color: #fff;text-decoration: none;}
.block_a{
	min-width: 1200px;
	width: 100%;
	height: 640px;
	overflow: hidden;
	position: relative;
}
.block_a img{
	width: 1920px;
}
.text_a{
	width: 1180px;
	color: #fff;
	text-align: left;
    font-size: 40px;
    font-weight: 400;
    position: absolute;
    top: 180px;  
    left: 50%;
    margin-left: -590px;
}
.text_b{
	width: 1180px;
	color: #fff;
	text-align: left;
    font-size: 20px;
    max-width: 700px;
    line-height: 36px;
    position: absolute;
    top: 250px;
    left: 50%;
    margin-left: -590px;
}
.text_c{
	color: #fff;
	display: block;
	line-height: 20px;
    width: auto;
    font-size: 20px!important;
    padding-bottom: 6px;
    border-bottom: 3px solid #00c1de;
    position: absolute;
    top: 318px;
    left: 50%;
    margin-left: -590px;
}
.text_c:hover{color: #00c1de;text-decoration: none;}
.block_aa{
	width: 100%;
	height: 136px;
	background: #2d3035;
    background-color: hsla(0,0%,100%,.1);
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
}
.block_aa a{
	display: inline-block;
	color: #fff;
	width: 187px;
	height: 82px;
	padding: 30px 26px 24px;
	border-right: 1px solid #727577;
	border-color: hsla(0,0%,100%,.06);
	margin-left: -1px;
}
.block_aa a:hover{background-color: hsla(0,0%,100%,.06);text-decoration: none;border-color: transparent}
.block_aa a h2{
	color: #fff;
    font-weight: bolder;
    height: 18px;
    font-size: 16px;
    margin-bottom: 8px;
}
.block_aa a p{
	color: #fff;
    font-size: 14px;
    line-height: 24px;
    opacity: .6;
}
.img_a{
	width: 130px;
	height: 59px;
	margin: 32px auto 24px;
	display: block;
}
.font_a{
	text-align: center;
    font-size: 24px;
    color: #373d41;
    line-height: 36px;
    width: 100%;
}
.font_b{
	width: 100%;
	text-align: center;
    font-size: 16px;
    margin: 8px 0 42px;
    display: block;
    color: #373d41;
}
.font_b:hover{text-decoration: none;color: #00c1de;}
.pubbox1{
    width: 100%;
    background: #f5f5f5;
    height: 130px;
    padding-top: 40px;
    padding-bottom: 50px;
}
.inner{
    width: 1200px;
    margin: 0 auto;
    box-sizing: inherit;
}
.list:nth-child(1){
    border-left: 1px solid hsla(0,0%,59%,.3);
}

.list{
    float: left;
    width: 20%;
    text-align: center;
    border-right: 1px solid hsla(0,0%,59%,.3);
    margin-top: 30px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    

}
.list div:nth-child(1){
    margin-left: 40px;

}
.list div:nth-child(2){
    margin-left: 10px;
    
}
.list div:nth-child(2) p:nth-child(1){
    font-size: 16px;
    text-align: left;
    color: #373d41;
    line-height: 22px;
    font-weight: 400;
}
.list div:nth-child(2) p:nth-child(1):hover{
    color: #00b7d3;
    cursor: pointer;
}
.list div{
    position: relative;
}
.list div span{
    position: absolute;
    background:url(../imgs/Bicon6.png);
    top: 3px;
    right: 30px;
    background-size: 100%;
    width: 30px;
    height: 15px;
}
.list div:nth-child(2) p:nth-child(2){
    font-size: 12px;
    height: 17px;
    line-height: 17px;
    color: #9b9ea0;
    text-align: left;
    font-weight: 400;
}
.list img{
    width: 45px;
    height: 41px;
}
.pubbox2{
    max-width: 1200px;
    min-width: 1200px;
    margin: 40px auto;
}
.pubbox2 h3{
    font-size: 24px;
    color: #373d41;
    text-align: center;
    line-height: 42px;
    font-weight: 400;

}
.chakan{
    display: inline-block;
    color: #00c1de;
    text-align: center;
    height: 14px;
    text-decoration: none;
    line-height: 14px;
    margin-top: 8px;
    width: 100%;
    font-size: 14px;
}
.chakan:hover{
    color: #00c1de;
}
.listcon{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    height:320px;

}
.listcon div{
    width: 276px;
    height: 320px;
    padding-left: 10px;
    padding-top: 8px;
   
    }
.listcon div:hover{
    
    box-shadow: 0 0 7px 0 rgba(0,0,0,.2);
      /*box-sizing: border-box;*/

}
.lianxi{
    background: #00c1de;
    width: 100px;
    font-size: 14px;
    text-align: center;
    line-height: 32px;
    height: 32px;
    color: #fff;
    margin: 20px auto 0;
    
    display: block;
    
}
.lianxi:hover{
    transition:all .3s;
    background: #33cde5;
    text-decoration: none;
    color: #fff;
    
    
}
.listcon div p{
    margin-top: 15px;
    font-size: 18px;
    color: #373d41;
    transition:color .3s ease;
    line-height: 25px;

}
.listcon div li{
    list-style: square;
    margin-top: 9px;
    height: 20px;
    color: #373d41;
    margin-left: 18px;
    line-height: 20px;
    font-size: 14px;
    position: relative;
    transition:color .3s ease;
}
.listcon div li:hover{
    color: #00c1de;
    cursor: pointer;
}
.listcon div p:hover{
    color: #00c1de;
    cursor: pointer;
}
.listcon div span{
    font-size: 14px;
     transition:color .3s ease;
}
.listcon div span :hover{
    color: #00c1de;
    cursor: pointer;
}
.icon7{
    position: absolute;
    width: 28px;
    height: 12px;
    top: 4px;
   
}
.aaa{
    width: 265px;
    height: 150px;
    position: relative;

}
.pubbox3{
    width: 100%;
    padding-top: 40px;
    padding-bottom: 56px;
    background-color: #f5f5f5;
    text-align: center;
}
.pubbox3 h3{
    color: #373d41;
    line-height: 42px!important;
    text-align: center;
    font-weight: 400!important;
    font-size: 24px;
}
.quanbu{
    display: inline-block;
    margin-top: 8px;
    font-size: 14px;
    color: #00c1de;
    height: 14px;
    line-height: 14px;
    text-align: center;
    text-decoration: none;
}
.content{
    text-align: left;
    overflow: hidden;
    width: 1200px;
    height: 240px;
    margin: 0 auto;
    box-sizing: border-box;
}
.content1{
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 33.33333%;
     box-sizing: border-box;
}
.content1:hover .list-hover{
    display: block;

}
.content1:hover .quotes{
    display: none;
}
.con-list{
    margin-top: 30px;
    height: 215px;
    position: relative;
}
.kuang{
    background: url(../imgs/kuang.png) no-repeat center center;
    background-size: 100% 100%;
    position: relative;
    padding: 35px 38px 0;
    height: 120px;

}
.info{
    font-size: 14px;
    color: #73777a;
    line-height: 22px;
}
.quotes {
    position: absolute;
    top: -8px;
    left: 42px;
    width: 16px;
    height: 14px;
}
.logo{
    width: 190px;
    height: 46px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.list-hover{
    display: none;
    height:190px;
    padding: 24px 0 0;
    background-color: #fff;
    border: 1px solid #ebecec;
    box-shadow: 0 0 6px 0 rgba(0,0,0,.1);
    position: absolute;
    top: 0;
    right: 0;
    width: 380px;
}
.hov-text{
    font-size: 20px;
    height: 28px;
    line-height: 28px;
    color: #373d41;
    text-align: center;
}
.ding{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
.hov-txt {
    margin-top: 23px;
    font-size: 14px;
    line-height: 20px;
    color: #373d41;
    text-align: left;
    white-space: nowrap;
}
.hov-txt a{
    color: #373d41;
    text-decoration: none;
}
.chanpin{
    margin-top: 8px;
    text-align: left;
    white-space: nowrap;
}
.chanpin span{
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    color: #373d41;
    display: flex;
    align-items: center;
}
.hov-txt a:hover{
    color: #00c1de;

}
.learnmore {
    display: block;
    width: 100px;
    height:32px;
    font-size: 14px;
    line-height: 32px;
    color: #fff;
    background-color: #00c1de;
    text-align: center;
    
    margin: 30px auto 0;
}
.learnmore:hover{
    text-decoration:none;
    color: #fff;
}
.tit{
    font-size: 24px;
    color: #373d41;
    text-align: center;
    line-height: 42px;
    margin-top: 80px;
}
.pubbox4{
    width: 1200px;
    height: 400px;
    margin:50px auto 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.box4a{
    text-align: center;
    width: 20%;
    height: 120px;
    width: 220px;
    padding: 10px;
}
.box4a:hover{
    box-shadow: 0 0 7px 0 rgba(0,0,0,.2);
}
.box4a img{
    width: 180px;
    height: 90px;
}
.box4a p{
    font-size: 14px;
    color: #373d41;
}
.pubbox5{
    width: 100%;
    height: 560px;
    background: #2f3032;
}
.pubbox5 h3{
    font-size: 24px;
    font-weight: 400;
    color: #fff;
    line-height: 42px;
    text-align: center;
    padding-top: 50px;
}
.map{
    margin: 20px auto;
    width: 1200px;
}
footer{
      width: 100%;
      height: 688px;
      background: #373d41;
      min-width: 800px;
}
.box{
    width: 1260px;
    margin: 0 auto;
   
    height: 686px;
}
.block{
    
    width: 100%;
    border-bottom: 1px solid #4b5054;
    display: flex;
    align-items: center;
}
.block:nth-child(1){
    height: 340px;
}
.block:nth-child(2){
    height: 110px;
   
}
.block:nth-child(3){
    border: none;
    display:block;
}
.ul1{
    line-height: 20px;
    color: #9b9ea0;
    margin-right:28px; 
    font-size: 12px;
}
.ul2{
     line-height: 20px;
     margin-right:60px; 
     color: #73777a;

}

.left{
    padding-left: 80px;
    width: 230px;
    height: 290px;
    border-right: 1px solid #4b5054;
    position: relative;
    
}
.left h3{
    font-size: 16px;
    color: #fff;
    line-height:30px;
    
}
.left h2{
    font-size: 16px;
    color: #fff;
 
}
.left h2 span{
    font-size: 18px;

}
.left li:hover{
      color: #00b7d3;
}
.ul2 li:hover{
      color: #00b7d3;
}
.text a:hover{
      color: #00b7d3;
}
.word a:hover{
      color: #00b7d3;
}
footer table{
    margin-left: 180px;
    margin-top: -45px;
}
footer th{
    height: 36px ;
    line-height: 30px;
    color: #fff;

}
footer td{
    width: 166px;
    text-align: center;
    height: 22px;
    line-height: 22px;
    color: #9b9ea0;
}
footer td:hover{
    color: #00b7d3;
}
.left ul{
    margin-top: 14px;
    font-size: 14px;
    line-height: 30px;
    color: #9b9ea0;
}
.kefu{
    position: absolute;
    left: 0;
    top:4px;
    height: 46px;

}
.right{
    position: relative;
}
.ma{
    position: absolute;
    right:36px;
    height: 80px;
    bottom: 10px;
}
.text{
    width: 600px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text a{
    font-size: 16px;
    color: #9b9ea0;
    text-decoration: none;
}
.word{
    
    width: 1150px;
    display: flex;
    font-size: 12px;
    
     justify-content: space-between;

}
.word a{
     color: #73777a;;
      text-decoration: none;

}
.block:nth-child(3) p:nth-child(3){
    color: #73777a;;
    margin-top: 40px;
}
.block:nth-child(3) p:nth-child(4){
    display: flex;
    justify-content: flex-start;
    font-size: 14px;
     color: #9b9ea0;
     margin-top:14px;

}
.block:nth-child(3) p:nth-child(4) img{
    height: 22px;
    width: 22px;
    
}
